figure {
		display: inline-block;
		border: 1px solid black;
		width:500px;
		margin:5px;
		vertical-align:top;
}
figcaption {
		padding:5px;
		font-size: 10px;
}

figcaption code {
		margin: 0.7ex 0px;
		display: block;
		white-space: pre-wrap;
		padding-top: 4px;		
}